<!-- App Main Framework-->
<header>
    <ul class="nav">
        <li><a class="logo" routerLink="todo/list" routerLinkActive="active"><img src="../asset/logo-nav.png" alt="app"></a></li>
        <li><a class="todo" routerLink="todo/list" routerLinkActive="active">待办事宜</a></li>
        <li><a class="hero" routerLink="hero/dashboard" routerLinkActive="active">谷歌英雄</a></li>
        <li><a class="about" routerLink="about" routerLinkActive="active">关于我们</a></li>
    </ul>
    <section class="banner">
        <h2>TodoList Base Angular2 <small>{{appName}}</small></h2>
    </section>
 </header>
<router-outlet></router-outlet>
<footer>&copy;&nbsp;{{date}}</footer>